.Informative {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 3em 0;
}

.Informative:first-of-type {
  margin-top: 0;
}

.Informative:last-of-type {
  margin-bottom: 0;
}

.Informative .Image {
  width: 90%;
  height: 35vh;
  margin-bottom: 2em;
}

.Informative .Image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Informative .Info {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.Informative .Info .Wrapper {
  width: 100%;
}

.Informative .Info .Wrapper .Main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
}

.Informative .Info .Wrapper .Description {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.75em;
  letter-spacing: 1px;
  color: #444444;
  margin-top: 1.5em;
}

.Informative .Info .Wrapper .Content {
  width: 100%;
  margin-top: 3em;
}

.Informative .Info .Button {
  margin-top: 2em;
}

@media (min-width: 720px) {
  .Informative .Image {
    width: 85%;
    min-height: 350px;
    margin-bottom: 3em;
  }
  .Informative .Image img {
    width: 100%;
    height: 100%;
  }
  .Informative .Info {
    width: 85%;
  }
}

@media (min-width: 1025px) {
  .Informative {
    width: 90%;
    margin: 4em auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .Informative .Image {
    width: 45%;
    height: 74vh;
    max-height: none;
    min-height: none;
    margin: 0;
  }
  .Informative .Image img {
    width: 100%;
    height: 100%;
  }
  .Informative .Info {
    width: 50%;
    min-height: calc(74vh - 2em);
    margin: 1em 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}
/*# sourceMappingURL=Informative.module.css.map */