.Navigation {
  width: 100%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.Navigation .Upper, .Navigation .Line, .Navigation .Lower .Links {
  display: none;
}

.Navigation .Lower {
  width: 90%;
  height: 4.5em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navigation .Lower .Logo {
  width: 4.5em;
  height: 3em;
  background-image: url("../../assets/icons/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

.Navigation .Lower .Menu {
  background-image: url("../../assets/icons/menu.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  width: 2em;
  height: 2em;
}

.Navigation .Lower .Links {
  display: none;
  position: fixed;
  width: 100%;
  top: calc(4.5em - 2px);
  left: 0;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.Navigation .Lower .Links .Link {
  margin: 1.5em 0;
}

.Navigation .Lower .Links .Link a {
  padding: 0.5em 0;
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  outline: none;
}

.Navigation .Lower .Links .Link a .Underline {
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  margin: 0.75em auto 0;
  background-color: #D7C2A4;
  border-radius: 3px;
  width: 0;
}

.Navigation .Lower .Links .Link .Active {
  position: relative;
}

.Navigation .Lower .Links .Link .Active:hover .Underline {
  background-color: #D7C2A4;
}

.Navigation .Lower .Links .Link .Active .Underline {
  -webkit-animation: underline 0.3s 0s ease forwards;
          animation: underline 0.3s 0s ease forwards;
}

@-webkit-keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}

.Navigation .Lower .Links .Book {
  margin-top: 3em;
}

.Navigation .Lower .Links .Book a {
  background-color: #D7C2A4;
  border-radius: 5em;
  font-size: 1.1em;
  color: white;
  padding: 0.85em 2em;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.Navigation .Lower .Links .Book a:hover {
  background-color: #c7aa81;
}

.Scrolled {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  -webkit-animation: appear 0.3s 0s ease forwards;
          animation: appear 0.3s 0s ease forwards;
}

.Scrolled .Upper, .Scrolled .Line {
  display: none;
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.Reveal {
  position: fixed;
}

.Reveal .Lower {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Reveal .Lower .Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: expand 0.3s 0s ease-out forwards;
          animation: expand 0.3s 0s ease-out forwards;
}

@-webkit-keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - 4.5em + 2px);
    opacity: 1;
  }
}

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - 4.5em + 2px);
    opacity: 1;
  }
}

@media (min-width: 720px) {
  .Navigation .Lower {
    height: 5em;
  }
}

@media (min-width: 1025px) {
  .Navigation {
    position: relative;
  }
  .Navigation .Upper {
    height: 5.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Navigation .Upper .Social {
    width: 4.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Navigation .Upper .Social .Facebook, .Navigation .Upper .Social .Instagram {
    width: 1.15em;
    height: 1.15em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
    outline: none;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .Navigation .Upper .Social .Facebook:hover, .Navigation .Upper .Social .Instagram:hover {
    -webkit-filter: brightness(0.25);
            filter: brightness(0.25);
  }
  .Navigation .Upper .Social .Facebook {
    background-image: url("../../assets/icons/facebook.png");
  }
  .Navigation .Upper .Social .Instagram {
    background-image: url("../../assets/icons/instagram.png");
  }
  .Navigation .Upper .Logo {
    width: 5em;
    height: 5em;
    background-image: url("../../assets/icons/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .Navigation .Upper .Contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Navigation .Upper .Contacts .Contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .Navigation .Upper .Contacts .Contact:hover .Icon {
    -webkit-filter: brightness(0.25);
            filter: brightness(0.25);
  }
  .Navigation .Upper .Contacts .Contact:hover .Info {
    color: black;
  }
  .Navigation .Upper .Contacts .Contact .Icon {
    width: 1.35em;
    height: 1.35em;
    margin: 0 0.5em 0 1.25em;
    -o-object-fit: contain;
       object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
  }
  .Navigation .Upper .Contacts .Contact .Info {
    font-size: 0.9em;
    text-transform: none;
    text-decoration: none;
    color: #444444;
    outline: none;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .Navigation .Line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .Navigation .Lower {
    height: 4.5em;
  }
  .Navigation .Lower .Logo, .Navigation .Lower .Menu {
    display: none;
  }
  .Navigation .Lower .Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    position: relative;
    top: 0;
  }
  .Navigation .Lower .Links .Link a {
    position: relative;
    font-size: 0.75em;
  }
  .Navigation .Lower .Links .Link a .Underline {
    height: 2px;
  }
  .Navigation .Lower .Links .Link a:hover .Underline {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .Navigation .Lower .Links .Book {
    margin: 0;
  }
  .Scrolled {
    position: fixed;
    left: 50%;
    width: 92%;
    margin-left: -46%;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  }
  .Scrolled .Upper, .Scrolled .Line {
    display: none;
  }
}
/*# sourceMappingURL=Navigation.module.css.map */