body {
  margin-top: 4.5em;
}

.Upper, .Line, .Lower .Links {
  display: none;
}

.Lower {
  width: 90%;
  height: 4.5em;
  padding: 0 5%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  z-index: 250;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Lower .Social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Lower .Social .Facebook, .Lower .Social .Instagram, .Lower .Social .Phone {
  width: 1.35em;
  height: 1.35em;
  -webkit-filter: brightness(0.65);
          filter: brightness(0.65);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.Lower .Social .Facebook:hover, .Lower .Social .Instagram:hover, .Lower .Social .Phone:hover {
  -webkit-filter: brightness(0.25);
          filter: brightness(0.25);
}

.Lower .Social .Facebook {
  background-image: url("../../assets/icons/facebook.png");
}

.Lower .Social .Instagram {
  margin: 0 0.75em;
  background-image: url("../../assets/icons/instagram.png");
}

.Lower .Social .Phone {
  background-image: url("../../assets/icons/phone.png");
}

.Lower .Logo {
  width: 5.5em;
  height: 4em;
  background-image: url("../../assets/icons/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 1000;
  outline: none;
}

.Lower .Menu {
  background-image: url("../../assets/icons/menu.png");
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 2em;
  height: 2em;
}

.Lower .Links {
  background-color: white;
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.Lower .Links .Link {
  margin: 1.5em 0;
}

.Lower .Links .Link a {
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  color: #444444;
  padding: 0.5em 0;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

.Lower .Links .Link a .Underline {
  height: 3px;
  margin: 0.75em auto 0;
  background-color: #D7C2A4;
  border-radius: 3px;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.Lower .Links .Link .Active {
  position: relative;
}

.Lower .Links .Link .Active:hover .Underline {
  background-color: #D7C2A4;
}

.Lower .Links .Link .Active .Underline {
  -webkit-animation: underline 0.3s 0s ease forwards;
          animation: underline 0.3s 0s ease forwards;
}

@-webkit-keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}

.Lower .Links .Book {
  margin-top: 3em;
}

.Lower .Links .Book a {
  background-color: #D7C2A4;
  border-radius: 5em;
  font-size: 1.1em;
  color: white;
  padding: 0.85em 2em;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.Lower .Links .Book a:hover {
  background-color: #c7aa81;
}

.Reveal {
  border-bottom: none;
}

.Reveal .Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: expand 0.3s 0s ease-out forwards;
          animation: expand 0.3s 0s ease-out forwards;
}

@-webkit-keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100vh;
    opacity: 1;
  }
}

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100vh;
    opacity: 1;
  }
}

.Reveal .Menu {
  background-image: url("../../assets/icons/close.png");
}

@media (min-width: 720px) {
  body {
    margin: 0;
  }
  .Upper {
    height: 5.5em;
    background-color: white;
    width: 92%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Upper .Social {
    width: 4.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Upper .Social .Facebook, .Upper .Social .Instagram {
    width: 1.15em;
    height: 1.15em;
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .Upper .Social .Facebook:hover, .Upper .Social .Instagram:hover {
    -webkit-filter: brightness(0.25);
            filter: brightness(0.25);
  }
  .Upper .Social .Facebook {
    background-image: url("../../assets/icons/facebook.png");
  }
  .Upper .Social .Instagram {
    background-image: url("../../assets/icons/instagram.png");
  }
  .Upper .Logo {
    width: 5em;
    height: 5em;
    background-image: url("../../assets/icons/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .Upper .Contacts {
    width: 4.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Upper .Contacts .Contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    cursor: pointer;
  }
  .Upper .Contacts .Contact:hover .Icon {
    -webkit-filter: brightness(0.25);
            filter: brightness(0.25);
  }
  .Upper .Contacts .Contact:hover .Info {
    color: black;
  }
  .Upper .Contacts .Contact .Icon {
    width: 1.35em;
    height: 1.35em;
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
    -o-object-fit: contain;
       object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .Upper .Contacts .Contact .Info {
    display: none;
    font-size: 0.9em;
    color: #444444;
    text-transform: none;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .Line {
    height: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    display: block;
    width: 100%;
  }
  .Lower {
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    width: 80%;
    height: 4.5em;
    padding: 0 10%;
  }
  .Lower .Social {
    display: none;
  }
  .Lower .Logo, .Lower .Menu {
    display: none;
  }
  .Lower .Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    position: relative;
    top: 0;
  }
  .Lower .Links .Link a {
    font-size: 0.75em;
    position: relative;
  }
  .Lower .Links .Link a .Underline {
    height: 2px;
  }
  .Lower .Links .Link a:hover .Underline {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .Lower .Links .Book {
    margin: 0;
  }
}

@media (min-width: 1025px) {
  .Upper {
    width: 100%;
  }
  .Upper .Logo {
    width: 5.25em;
    height: 5.25em;
  }
  .Upper .Contacts {
    width: auto;
  }
  .Upper .Contacts .Contact .Icon {
    margin: 0 0.5em 0 1.25em;
  }
  .Upper .Contacts .Contact .Info {
    display: block;
  }
}
/*# sourceMappingURL=Navigation.module.css.map */