.Gallery {
  width: 100%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Gallery .Picture {
  margin: 0.5em 0;
  width: 90vw;
  height: 90vw;
  overflow: hidden;
}

.Gallery .Picture:hover .Expand {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.Gallery .Picture .Image {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Gallery .Picture .Expand {
  font-family: 'Montserrat';
  font-weight: 300;
  color: #444444;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Gallery .Modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Gallery .Modal .Wrapper {
  position: relative;
  -webkit-animation: expand 0.25s 0s ease-out forwards;
          animation: expand 0.25s 0s ease-out forwards;
}

.Gallery .Modal .Wrapper img {
  min-width: 3em;
  min-height: 3em;
  max-width: 82.5vw;
  max-height: 82.5vh;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Gallery .Modal .Wrapper .Close {
  width: 1.75em;
  height: 1.75em;
  background-color: white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(1.75em / -2);
  right: calc(1.75em / -2);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
  border: none;
}

.Gallery .Modal .Wrapper .Close:hover {
  background-color: #D7C2A4;
}

.Gallery .Modal .Wrapper .Close:hover .Icon {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.Gallery .Modal .Wrapper .Close .Icon {
  background-image: url("../../assets/icons/close.png");
  width: 65%;
  height: 65%;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.Gallery .Modal .Wrapper .Previous, .Gallery .Modal .Wrapper .Next {
  width: 1.75em;
  height: 75%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

.Gallery .Modal .Wrapper .Previous:hover i, .Gallery .Modal .Wrapper .Next:hover i {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.Gallery .Modal .Wrapper .Previous i, .Gallery .Modal .Wrapper .Next i {
  background-image: url("../../assets/icons/arrow.png");
  width: 100%;
  height: 2em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.Gallery .Modal .Wrapper .Previous {
  left: -1.75em;
}

.Gallery .Modal .Wrapper .Previous i {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.Gallery .Modal .Wrapper .Next {
  right: -1.75em;
}

@-webkit-keyframes expand {
  from {
    -webkit-transform: translateY(-6em);
            transform: translateY(-6em);
    opacity: 0.25;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes expand {
  from {
    -webkit-transform: translateY(-6em);
            transform: translateY(-6em);
    opacity: 0.25;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 720px) {
  .Gallery .Picture {
    width: 28vw;
    height: 28vw;
    margin: 0.35em;
  }
  .Gallery .Modal .Wrapper .Close {
    width: 2.5em;
    height: 2.5em;
    top: calc(2.5em / -2);
    right: calc(2.5em / -2);
  }
  .Gallery .Modal .Wrapper .Previous, .Gallery .Modal .Wrapper .Next {
    width: 2em;
  }
  .Gallery .Modal .Wrapper .Previous {
    left: -2em;
  }
  .Gallery .Modal .Wrapper .Next {
    right: -2em;
  }
}

@media (min-width: 1025px) {
  .Gallery .Picture {
    width: 23vw;
    height: 23vw;
  }
  .Gallery .Modal .Wrapper .Close {
    width: 2em;
    height: 2em;
    top: calc(2em / -2);
    right: calc(2em / -2);
  }
}
/*# sourceMappingURL=Gallery.module.css.map */