@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';

.Catalog {
	// Non-Styling

	width: 100%;

	.List {
		// Non-Styling

		width: 100%;

		.Item {
			// Non-Styling

			width: 100%;
			min-height: 1.75em;

			margin-bottom: 1.25em;

			&:last-of-type {
				margin-bottom: 0;
			}

			.Line {
				// Non-Styling

				width: 100%;

				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				.Name,
				.Price {
					font-family: $primary-font;
					color: $primary-color;
				}

				.Price {
					min-width: 5em;
					text-align: right;

					.Discounted {
						text-decoration: line-through;
						color: $warning-color;
					}
				}
			}

			.Description {
				font-family: $primary-font;
				font-size: 0.8em;
				color: #a6a6a6;

				// Non-Styling

				margin: 5px 0 0 1px;
			}
		}
	}

	.Options {
		margin-top: 3em;

		.Button {
			background-color: $brand-color;
			border-radius: 0em;

			font-family: $primary-font;
			font-weight: 300;
			text-transform: capitalize;
			color: white;

			// Non-Styling

			margin-right: 1.25em;
			padding: 0.8em 1.35em;

			border: none;

			transition: all 0.15s;

			&:hover {
				background-color: darken($brand-color, 10);
			}
		}

		.Link {
			font-family: $primary-font;
			text-transform: capitalize;
			color: $warning-color;

			// Non-Styling

			text-decoration: none;
			transition: all 0.15s;
			outline: none;

			&:hover {
				color: darken($warning-color, 10);
			}
		}
	}
}
